.card-chat {
  min-height: 100%;
}

.message-timestamp {
  font-size: 12px !important;
  margin-left: 5px;
}

.message-sender {
  color: #39546e;
  font-weight: bold;
  font-size: 16px !important;
}
.message-content {
  font-size: 15px;
}

.card-header {
  font-size: 17px;
  font-weight: bold;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-header > .small {
  font-size: 12px;
  font-weight: normal;
  color: rgba(8, 8, 8, 0.459);
}

.dialog-text > .name-time {
  display: flex;
  justify-content: space-between;
}

.dialog-text {
  width: 100%;
}

.message-text {
  font-size: 14px;
  color: #d8d8d8;
}

.avatar-block {
  position: relative;
}

.dialog-info {
  display: flex;
  align-items: center;
  position: relative;
}

.messages {
  display: flex;
}

.messages > .avatar-block {
  display: flex;
  align-items: center;
}

.avatar-block > .avatar {
  width: 40px;
  border-radius: 20px;
  margin-right: 12px;
}

.col-md-4 {
  padding-right: 0px;
}

.col-md-8 {
  padding-left: 0px;
}

.mb-3:focus {
  background-color: initial !important;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
  color: white !important;
}

.mb-3 {
  background-color: transparent;
  outline: none !important;
  border: none !important;
  margin-bottom: 3px !important;
  font-size: 18px !important;

  padding: 10px 10px 10px 0 !important;
}

.status-circle {
  width: 13px;
  height: 13px;
  background: gray;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #07162073;
  right: 10px;
  bottom: -1px;
}

.list-group-item {
  margin: 0 !important;
  border-radius: 0 !important;
  background-color: #263242;
  border-color: #40475042 !important;
  color: white;
  padding: 17px;
}

.input-group > input {
  border: none;
}

.input-group > input:focus {
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.input-group-append {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-send {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-md-4 > .card > .card-body {
  padding: 0 !important;
}

.col-md-4 > .card {
  background-color: #263242;
  min-height: 100%;
}

.list-group-item:hover {
  background-color: #53667542;
}

.list-group-item.active {
  background-color: #53667542;
}

.alert-info{
    margin-top: 0 !important;
}