@use '/public/assets/styles/abstracts';

.Items {
  position: fixed;
  top: 30px;
  right: 25px;
}

.Container {
  position: relative;
}

.Cross {
  color: abstracts.$primary !important;
  font-size: 2rem;
  position: absolute;
  right: 5px;
  top: 0px;
  cursor: pointer;
  user-select: none;
}

.Item {
  border-radius: 4px;
  padding: 16px 25px;
  font-size: 1rem;
  margin-bottom: 4px;
  color: abstracts.$primary !important;


  @include abstracts.colors;
}
