.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3b4b;
  color: #fff;
  padding: 25px 60px;
}

h2 {
  margin: 0;
}

.logo {
  cursor: pointer;
  text-align: center;
}

.menu {
  display: flex;
}
.menu > a {
  font-size: 17px;
  padding: 0 15px;
}

.menu > .active {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.notifications {
  text-align: center;
  cursor: pointer;
}

.logout {
  text-align: right;
}
