.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.login h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: bold;
}

.form-control {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-danger {
  color: red;
  margin-top: 5px;
}

.login p {
  margin: 10px 0 0 0 ;
}

.login a {
  color: #007bff !important;
}

.login a:hover {
  text-decoration: underline;
}

.login{
    min-height: 100% !important;
}